html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgb(116, 116, 116);
}

body p {
    font-family: 'Noto Serif', serif;
}

h1,
h2 {
    font-family: 'Varela Round', Arial, Helvetica sans-serif;
}

header {
    display: grid;
    grid-template-columns: 300px repeat(5, 1fr) 200px;
    height: 200px;
    background: rgb(177, 177, 177);
}

body .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 800px;
    background: rgb(158, 158, 158);
}

body .main div:nth-child(2) {
    background: rgb(189, 189, 189);
}

body .main div {
    position: relative;
}

body .main h1,
body .main h2 {
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -2px;
    word-spacing: 2px;
}

body .main h1 {
    top: 50px;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    padding: 20px;
    background-color: white;
    text-align: center;
    line-height: 1.5;
}

body .main h2 {
    bottom: 300px;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    line-height: 1.3;
}

.membership {
    height: 500px;
    background: rgb(146, 146, 146);
    padding: 70px 400px;
}

.membership >* {
    width: 700px;
    line-height: 2;
    font-size: 20px;
}

.membership ul {
    margin-top: 20px;
}

.membership li {
    list-style: square;
    margin-left: 50px;
}

.latest-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px repeat(2, 700px);
    grid-gap: 40px;
    background: grey;
    padding: 70px;
}

.latest-posts h2 {
    font-size: 22px;
    text-decoration: underline;
}

.latest-posts cite {
    display: inline-block;
    margin: 30px 0;
    font-size: 14px;
    color: #666;
}

.latest-posts cite a {
    color: #666;
}

.latest-posts p {
    line-height: 2;
}

.latest-posts div:nth-child(4) {
    background: rgb(138, 138, 138);
}

.latest-posts .billboard {
    grid-column: span 2;
    background: rgb(189, 189, 189);
}

.handbook {
    height: 100vh;
    margin-top: 150px;
    background: rgb(189, 189, 189);
}

.community-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 300px);
    background: grey;
}

.community-links .person-of-week {
    grid-column: span 2;
    background: rgb(158, 158, 158);
}

.feature {
    height: 350px;
    background: rgb(189, 189, 189);
}

.curated-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 800px;
    background: grey;
}

.newsletter {
    height: 900px;
    margin-top: 200px;
    background: rgb(189, 189, 189);
}

footer {
    height: 600px;
    margin-top: 200px;
    background: rgb(189, 189, 189);
}